h2 {
    color: red;
}


.parent {
    height: 500px;
    /* background-color: rgb(60, 60, 187); */
}

.child {
    height: 100px;
    width: 100px;
    background-color: red;
    border-bottom-left-radius: 50%;
    transition: 2s;

    transform: translate(100px, 150px);
    /* transform: translateX(100px) translateY(100px); */
    /* transform: rotate(180deg); */
    /* transform: translateX(200px) scale(2); */
    /* transform: translateX(200px) scaleX(2);
    transform: translateX(200px) scaleX(2) scaleY(2); */
    /* transform: skew(10deg); */
    /* transform: rotateX(90deg); */
    /* transform: rotateY(90deg);
    transform: rotateZ(45deg); */

    /* animation-name: translate-animation;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; */
    /* animation-timing-function: linear; */
}




@keyframes translate-animation {
    /* from {
        transform: translate(0, 0) rotate(0deg);
    }
    to {
        transform: translate(200px, 200px) rotate(90deg);
    } */
    /* 0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(200px, 200px) rotate(45deg);
    }
    100% {
        transform: translate(0, 0) rotate(90deg);
    } */
    /* 75% {
        transform: translate(100px, 800px) rotate(135deg) skew(40deg);
    }
    100% {
        transform: translate(0, 0) rotate(180deg);
    }  */
}


.child h2 {
    color: white;
    background-color: black;
    opacity: 0;
    transition: 2s;
}


.child:hover{
    background-color: green;
    transform: scale(2);
}

.child:hover h2{ 
    opacity: 1;
}